@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Roboto';
}
.first-block{
    background-color: #1F2937;
}
#header-logo{
    font-size: 24px;
    color: white;
}
.headlink{
    font-size: 18px;
    color: white;
}
ul{
    display: flex;
    flex-direction: row;
}
.navigationbar-right,.navigationbar-right{
    display: flex;
    width: 50%;
    justify-content: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.content{
    display: flex;
    flex-direction: row;
    margin:50px;
}
.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 200px;
}
.p-first{
    font-size: 18px;
    color: white;
    margin-left: 0px;
}
img{
    margin: 50px;
}
.sign-up{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border: 1px #3882F6;
    border-radius: 10px;
    margin-top: 10px;
}
h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}
.row-of-boxes{
    display: flex;
    flex-direction: row;
    margin: 100px;
    justify-content: space-between;
}
.box-blue{
    border: 2px solid #3882F6;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.second-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p-second{
    text-align: center;
    font-size: 18px;

}
.third-block{
    background-color: #E5E7EB;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h3{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
}
.p-third{
    font-size: 18px;
    text-align:end;
}
.last-div{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-final-box{
    background-color: #3882F6;
    width: 75%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.left{
    width: 80%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
h4{
    font-size: 24px;
    color: white;
    text-align: center;
}
.right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn-last-div{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border: 3px solid white;
    border-radius: 10px;
    margin-top: 10px;
}

